.gradle
.idea
.intellijPlatform
.qodana
build
*.pem
*.crt
/node_modules/
/.kotlin/
.env
http-client.private.env.json

# local files
# A folder for storing files you want to manage but not commit
# AI files
/.aiassistant
/.junie
*.local
*.local.md
/.inline-review-notes
